.car--container {
  cursor: default;
}

.car--day {
  box-shadow: none;
  border-radius: 6px;
  width: 20%;
  height: 13px;
}

.car--tilte {
  box-shadow: none;
  border-radius: 6px;
  width: 40%;
  height: 17px;
}

.car--image {
  box-shadow: none;
  border-radius: 6px;
  width: 100%;
  height: 250px;
}

.car--spec--title {
  box-shadow: none;
  border-radius: 6px;
  width: 30%;
  height: 17px;
}

.car--spec--description {
  box-shadow: none;
  border-radius: 6px;
  width: 60%;
  height: 17px;
}

.car--price {
  box-shadow: none;
  border-radius: 6px;
  width: 124px;
  height: 28px;
}

.car--button {
  box-shadow: none;
  border-radius: 6px;
  width: 151px;
  height: 40px;
}