/* App */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html,
body,
#app {
  width: 100%;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: "Inter", Arial, sans-serif;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
  scrollbar-width: 6px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d57;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

img,
svg {
  -webkit-user-drag: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

button:hover,
button:focus,
button:active,
button:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0 !important;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0 !important;
}

/* Components */
.error-400,
.error-401,
.error-403,
.error-404,
.error-500 {
  margin-bottom: 120px;
}
.error-400 svg,
.error-401 svg,
.error-403 svg,
.error-404 svg,
.error-500 svg {
  width: 100%;
}
.error-400 h1,
.error-401 h1,
.error-403 h1,
.error-404 h1,
.error-500 h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
}
.error-400 h2,
.error-401 h2,
.error-403 h2,
.error-404 h2,
.error-500 h2 {
  font-weight: bold;
}

.empty-box {
  display: flex;
  flex-direction: column;
}
.empty-box .empty-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-box .empty-image img,
.empty-box .empty-image svg {
  max-width: 100%;
  width: 50%;
  height: 50%;
}
.empty-box .empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.empty-box .empty .empty-title {
  font-weight: bold;
  font-size: 25px;
}
.empty-box .empty .empty-description {
  font-weight: 500;
}

.badge-permission {
  padding: 10px 15px;
  border-radius: 10rem;
  color: #007bff;
  border: 1px solid #007bff;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s ease;
}
.badge-permission.selected {
  color: #fff;
  background-color: #007bff;
}
.badge-permission.disabled {
  color: #fff;
  background-color: #007bff;
  opacity: 0.3;
  pointer-events: none;
}

.contact .contact-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 20px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services .title {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.services .description {
  font-size: 14px;
}
.services .icon svg {
  margin-bottom: 10px;
  font-size: 64px;
  fill: #f48a00;
}

.company-image {
  margin-top: 0.5rem !important;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.company-image img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.home {
  height: 500px;
  width: 100%;
}
.home .content {
  margin-top: 60px;
  text-align: center;
}
.home .content .title {
  font-weight: 700;
  font-size: 40px;
  line-height: 123.5%;
  letter-spacing: -1.5px;
}
.home .content .description {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 133.4%;
  letter-spacing: 0px;
  color: rgba(20, 26, 29, 0.6);
}

.navbar {
  padding: 0px;
}

.navbar-main,
.navbar-utility {
  background-color: #fff;
}

.navbar-main {
  padding: 1.5rem 2rem;
}
.navbar-main .navbar-brand img,
.navbar-main .navbar-brand svg {
  display: inline;
  max-width: 100%;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar-main .navbar-toggler {
  border: none;
}
.navbar-main .navbar-nav .nav-item .nav-link {
  margin-left: 10px;
  color: #000000;
  transition: ease 0.5s;
  font-weight: 500;
}
.navbar-main .navbar-nav .nav-item .nav-link.active {
  font-weight: bold;
  color: #1f1f1f;
}
.navbar-main .navbar-nav .nav-item .nav-link:hover, .navbar-main .navbar-nav .nav-item .nav-link:focus, .navbar-main .navbar-nav .nav-item .nav-link:active, .navbar-main .navbar-nav .nav-item .nav-link:active:focus:not(:disabled):not(.disabled) {
  color: #3d3d3d;
}
.navbar-main .navbar-nav .active > .nav-link,
.navbar-main .navbar-nav .show > .nav-link {
  font-weight: bold;
  color: #1f1f1f;
}

.navbar-utility {
  width: 100%;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-utility .links,
.navbar-utility .social {
  display: flex;
  gap: 20px;
}
.navbar-utility a {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #000000;
  transition: 0.5s ease;
}
.navbar-utility a:hover, .navbar-utility a:focus, .navbar-utility a:active, .navbar-utility a:active:focus:not(:disabled):not(.disabled) {
  color: #3d3d3d;
}

.navbar-admin {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-admin .navbar-brand img,
.navbar-admin .navbar-brand svg {
  display: inline;
  max-width: 100%;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar-admin .menu {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.navbar-admin .menu .logout {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  color: #f46a6a;
}
.navbar-admin .menu .logout svg {
  fill: #f46a6a;
}
.navbar-admin .menu .logout:hover {
  color: #f46a6a;
  opacity: 0.8;
}

.card {
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.375rem;
  border: 2px solid #d0d7de;
}
.card .card-header {
  border-bottom: 2px solid #d0d7de;
}
.card .card-header:first-child {
  border-radius: 0.375rem 0.375rem 0 0;
}
.card .card-body {
  border-radius: 0.375rem;
}
.card .card-footer {
  border-top: 2px solid #d0d7de;
}
.card .card-footer:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
}

.card,
.card-header,
.card-body,
.card-footer {
  background-color: #ffffff;
  color: #000000;
}

.card-car {
  border: none;
}
.card-car .card-header,
.card-car .card-body,
.card-car .card-footer {
  border: none;
  background-color: #fff;
}
.card-car .card-header .car-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-car .card-header .car-info .new {
  background-color: #fff;
  padding: 0.6428571429em 0.9285714286em;
  color: #080a0d;
  background-color: #dcae64;
  padding: 0.6923076923em;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 7px;
}
.card-car .car-image {
  padding: 0 20px;
}
.card-car .car-image img {
  max-width: 100%;
  /*
  height: 300px;
  object-fit: cover;
  */
  border-radius: 8px;
  -webkit-user-drag: none;
}

.card-search {
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.card-search.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.card-search .card-body,
.card-search .icon,
.card-search .options,
.card-search .title-box,
.card-search .title {
  transition: 0.5s ease;
}
.card-search .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-search .card-body .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.card-search .card-body .icon.brand {
  background-color: #f5edfe;
}
.card-search .card-body .icon.brand svg {
  fill: #45059f;
}
.card-search .card-body .icon.model {
  background-color: #fdedd9;
}
.card-search .card-body .icon.model svg {
  fill: #a44707;
}
.card-search .card-body .options {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.card-search .card-body .options .title-box {
  display: flex;
  align-items: center;
}
.card-search .card-body .options .title-box .title {
  font-size: 13px;
  text-transform: uppercase;
  color: #939ba2;
}
.card-search .card-body .options .title-box svg {
  margin-left: 6px;
}
.card-search .card-body .options .item {
  margin-top: 6px;
  font-weight: 600;
  color: #939ba2;
}
.card-search .card-body .options .item.selected {
  color: #000;
}
.card-search .card-body:hover, .card-search .card-body:focus, .card-search .card-body:active, .card-search .card-body:active:focus:not(:disabled):not(.disabled) {
  background-color: #f4f4f8;
  color: #939ba2;
}
.card-search .card-body:hover .item, .card-search .card-body:focus .item, .card-search .card-body:active .item, .card-search .card-body:active:focus:not(:disabled):not(.disabled) .item {
  color: #939ba2;
}
.card-search .card-body:hover .icon, .card-search .card-body:focus .icon, .card-search .card-body:active .icon, .card-search .card-body:active:focus:not(:disabled):not(.disabled) .icon {
  background-color: #fff;
}

.card-select-brand,
.card-select-model {
  position: absolute;
  bottom: 120px;
  left: 2rem;
  z-index: 9999;
  width: 100%;
}
.card-select-brand .card-header,
.card-select-brand .card-footer,
.card-select-model .card-header,
.card-select-model .card-footer {
  border: none;
}
.card-select-brand .card-body,
.card-select-model .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* min-height: 200px; */
  max-height: 400px;
  overflow-y: auto;
}
.card-select-brand .card-body .item,
.card-select-model .card-body .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 8px 15px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}
.card-select-brand::before,
.card-select-model::before {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 1.3rem;
  width: 20px;
  height: 20px;
  transform: rotate(224deg);
  background-color: #fff;
  border-left: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
}

.card-filter .card-header {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-filter .card-header .clear {
  color: #939ba2;
  cursor: pointer;
}
.card-filter .card-body .filter-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  background-color: #e1e1e1;
  padding: 12px 20px;
  margin-bottom: 18px;
  border-radius: 8px;
}
.card-filter .card-body .filter-option.active {
  border: 2px dashed #191919;
}

.card-options {
  border: none;
}
.card-options .card-header {
  border: none;
  padding-left: 0;
}
.card-options .card-body {
  padding-left: 0;
}
.card-options .card-body .item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  background-color: #fff;
  height: 90px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1254901961);
  font-weight: 600;
  transition: 0.5s ease;
  margin-bottom: 20px;
  padding: 20px;
}
.card-options .card-body .item .options {
  display: flex;
  align-items: center;
}
.card-options .card-body .item .options .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d6e9f6;
}
.card-options .card-body .item .options .icon svg {
  fill: #287eb8;
}
.card-options .card-body .item .options span {
  margin-left: 15px;
}
.card-options .card-body .item:hover {
  background-color: #f7f7f7;
  color: #000;
  border: 2px solid rgba(0, 0, 0, 0.1254901961);
}

.card-settings .card-body {
  display: flex;
  flex-direction: column;
}
.card-settings .card-body .menu {
  display: flex;
  align-items: center;
}
.card-settings .card-body .menu .link {
  font-weight: bold;
  color: #939ba2;
  transition: 0.5s ease;
}
.card-settings .card-body .menu .link.active {
  color: #000;
}

.card-brands .card-header,
.card-brands .card-footer,
.card-models .card-header,
.card-models .card-footer,
.card-cars .card-header,
.card-cars .card-footer,
.card-groups .card-header,
.card-groups .card-footer,
.card-users .card-header,
.card-users .card-footer {
  border: none;
}
.card-brands .car-images,
.card-models .car-images,
.card-cars .car-images,
.card-groups .car-images,
.card-users .car-images {
  max-width: 100%;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #d0d7de;
}
.card-brands .brand-logo,
.card-models .brand-logo,
.card-cars .brand-logo,
.card-groups .brand-logo,
.card-users .brand-logo {
  max-width: 100%;
  height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px;
  border-bottom: 2px solid #d0d7de;
}

.card-buy-car .card-body .car-image img,
.card-buy-car .card-body .car-image svg {
  max-width: 100%;
  width: 1000px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
.card-buy-car .card-body .brand_logo {
  padding: 10px 10px;
  border-radius: 8px;
  border: 2px solid #eee;
}
.card-buy-car .card-body .brand_logo img {
  height: 30px;
}
.card-buy-car .card-body .car_id {
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #f5f6f7;
  color: #979aa2;
  font-size: 11px;
}

input:disabled, input[readonly],
textarea:disabled,
textarea[readonly] {
  opacity: 0.3;
  background-color: #e9ecef;
}

input.form-control,
textarea.form-control {
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s ease;
}

input.form-control {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  color: #637089;
  border: 2px solid #e9ebef;
  border-radius: 10px;
  border-radius: 5px;
}
input.form-control:focus {
  background-color: #fff;
  color: #637089;
  border: 2px solid #bec1c6;
  box-shadow: none;
}
input.form-control::-moz-placeholder {
  color: #bcc0c5;
  font-size: 0.9rem;
}
input.form-control::placeholder {
  color: #bcc0c5;
  font-size: 0.9rem;
}

textarea.form-control {
  width: 100%;
  font-family: inherit;
  background-color: #ffffff;
  border: 2px solid #e9ebef;
  color: #8f99ac;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}
textarea.form-control:focus {
  background-color: #fff;
  color: #637089;
  border: 2px solid #bec1c6;
  box-shadow: none;
}
textarea.form-control::-moz-placeholder {
  color: #bcc0c5;
  font-size: 0.9rem;
}
textarea.form-control::placeholder {
  color: #bcc0c5;
  font-size: 0.9rem;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  color: #637089;
  border: 2px solid #e9ebef;
  border-radius: 10px;
  border-radius: 5px;
}
select.form-control:focus {
  background-color: #fff;
  color: #637089;
  border: 2px solid #bec1c6;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-login,
.btn-login:focus,
.btn-login:active,
.btn-login:active:focus:not(:disabled):not(.disabled) {
  color: #fff;
  background-color: #1111cb;
  border-color: #1111cb;
  height: 60px;
  border-radius: 5px;
  transition: 0.5s ease;
}
.btn-login:hover,
.btn-login:focus:hover,
.btn-login:active:hover,
.btn-login:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  opacity: 0.9;
}
.btn-login:disabled,
.btn-login button[disabled],
.btn-login:focus:disabled,
.btn-login:focus button[disabled],
.btn-login:active:disabled,
.btn-login:active button[disabled],
.btn-login:active:focus:not(:disabled):not(.disabled):disabled,
.btn-login:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
  opacity: 0.8;
}

.btn-explore-now,
.btn-explore-now:focus,
.btn-explore-now:active,
.btn-explore-now:active:focus:not(:disabled):not(.disabled) {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #7618f3;
  border-color: #7618f3;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.5s ease;
}
.btn-explore-now:hover,
.btn-explore-now:focus:hover,
.btn-explore-now:active:hover,
.btn-explore-now:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  opacity: 0.9;
}
.btn-explore-now:disabled,
.btn-explore-now button[disabled],
.btn-explore-now:focus:disabled,
.btn-explore-now:focus button[disabled],
.btn-explore-now:active:disabled,
.btn-explore-now:active button[disabled],
.btn-explore-now:active:focus:not(:disabled):not(.disabled):disabled,
.btn-explore-now:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
  opacity: 0.8;
}

.btn-primary-w,
.btn-primary-w:focus,
.btn-primary-w:active,
.btn-primary-w:active:focus:not(:disabled):not(.disabled) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1111cb;
  border-color: #1111cb;
  height: 60px;
  border-radius: 5px;
  transition: 0.5s ease;
}
.btn-primary-w:hover,
.btn-primary-w:focus:hover,
.btn-primary-w:active:hover,
.btn-primary-w:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  opacity: 0.9;
}
.btn-primary-w:disabled,
.btn-primary-w button[disabled],
.btn-primary-w:focus:disabled,
.btn-primary-w:focus button[disabled],
.btn-primary-w:active:disabled,
.btn-primary-w:active button[disabled],
.btn-primary-w:active:focus:not(:disabled):not(.disabled):disabled,
.btn-primary-w:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
  opacity: 0.8;
}

.btn-back {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 5px 0px;
  border: 2px solid #007bff;
  color: #007bff;
  transition: 0.7s ease;
  cursor: pointer;
}
.btn-back:hover {
  color: #fff;
  background: #0062cc;
}

.btn-cancel,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel:active:focus:not(:disabled):not(.disabled) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: transparent;
  border: 2px solid #eee;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  transition: 0.5s ease;
}
.btn-cancel:hover,
.btn-cancel:focus:hover,
.btn-cancel:active:hover,
.btn-cancel:active:focus:not(:disabled):not(.disabled):hover {
  color: #000;
  background-color: #eee;
  opacity: 0.9;
}
.btn-cancel:disabled,
.btn-cancel button[disabled],
.btn-cancel:focus:disabled,
.btn-cancel:focus button[disabled],
.btn-cancel:active:disabled,
.btn-cancel:active button[disabled],
.btn-cancel:active:focus:not(:disabled):not(.disabled):disabled,
.btn-cancel:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
  opacity: 0.8;
}

.btn-search,
.btn-search:focus,
.btn-search:active,
.btn-search:active:focus:not(:disabled):not(.disabled) {
  color: #fff;
  background: #1111cb;
  border-color: #1111cb;
  height: 60px;
  width: 200px;
  border-radius: 6px;
  transition: 0.5s ease;
}
.btn-search:hover,
.btn-search:focus:hover,
.btn-search:active:hover,
.btn-search:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #3935b5;
  border-color: #3935b5;
}
.btn-search:disabled,
.btn-search button[disabled],
.btn-search:focus:disabled,
.btn-search:focus button[disabled],
.btn-search:active:disabled,
.btn-search:active button[disabled],
.btn-search:active:focus:not(:disabled):not(.disabled):disabled,
.btn-search:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-more-details,
.btn-more-details:focus,
.btn-more-details:active,
.btn-more-details:active:focus:not(:disabled):not(.disabled) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #ff5857;
  border-color: #ff5857;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.5s ease;
}
.btn-more-details:hover,
.btn-more-details:focus:hover,
.btn-more-details:active:hover,
.btn-more-details:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #ff7170;
  border-color: #ff7170;
}
.btn-more-details:disabled,
.btn-more-details button[disabled],
.btn-more-details:focus:disabled,
.btn-more-details:focus button[disabled],
.btn-more-details:active:disabled,
.btn-more-details:active button[disabled],
.btn-more-details:active:focus:not(:disabled):not(.disabled):disabled,
.btn-more-details:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  background-color: rgb(77, 194, 71);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-home {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  background-color: #FF009F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-create-table,
.btn-create-table:focus,
.btn-create-table:active,
.btn-create-table:active:focus:not(:disabled):not(.disabled) {
  color: #fff;
  background: #1111cb;
  border-color: #1111cb;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-create-table:hover,
.btn-create-table:focus:hover,
.btn-create-table:active:hover,
.btn-create-table:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #3935b5;
  border-color: #3935b5;
}
.btn-create-table:disabled,
.btn-create-table button[disabled],
.btn-create-table:focus:disabled,
.btn-create-table:focus button[disabled],
.btn-create-table:active:disabled,
.btn-create-table:active button[disabled],
.btn-create-table:active:focus:not(:disabled):not(.disabled):disabled,
.btn-create-table:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-create,
.btn-create:focus,
.btn-create:active,
.btn-create:active:focus:not(:disabled):not(.disabled) {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #1111cb;
  border-color: #1111cb;
  height: 60px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-create:hover,
.btn-create:focus:hover,
.btn-create:active:hover,
.btn-create:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background-color: #3935b5;
  border-color: #3935b5;
}
.btn-create:disabled,
.btn-create button[disabled],
.btn-create:focus:disabled,
.btn-create:focus button[disabled],
.btn-create:active:disabled,
.btn-create:active button[disabled],
.btn-create:active:focus:not(:disabled):not(.disabled):disabled,
.btn-create:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-update,
.btn-update:focus,
.btn-update:active,
.btn-update:active:focus:not(:disabled):not(.disabled) {
  color: #fff;
  background: #1111cb;
  border-color: #1111cb;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-update.add-customer,
.btn-update:focus.add-customer,
.btn-update:active.add-customer,
.btn-update:active:focus:not(:disabled):not(.disabled).add-customer {
  padding: 5px 20px;
}
.btn-update.btn-modal,
.btn-update:focus.btn-modal,
.btn-update:active.btn-modal,
.btn-update:active:focus:not(:disabled):not(.disabled).btn-modal {
  height: 60px;
}
.btn-update:hover,
.btn-update:focus:hover,
.btn-update:active:hover,
.btn-update:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #3935b5;
  border-color: #3935b5;
}
.btn-update:disabled,
.btn-update button[disabled],
.btn-update:focus:disabled,
.btn-update:focus button[disabled],
.btn-update:active:disabled,
.btn-update:active button[disabled],
.btn-update:active:focus:not(:disabled):not(.disabled):disabled,
.btn-update:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-view,
.btn-view:focus,
.btn-view:active,
.btn-view:active:focus:not(:disabled):not(.disabled) {
  color: #fff;
  background: #1111cb;
  border-color: #1111cb;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-view.add-customer,
.btn-view:focus.add-customer,
.btn-view:active.add-customer,
.btn-view:active:focus:not(:disabled):not(.disabled).add-customer {
  padding: 5px 20px;
}
.btn-view:hover,
.btn-view:focus:hover,
.btn-view:active:hover,
.btn-view:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #3935b5;
  border-color: #3935b5;
}
.btn-view:disabled,
.btn-view button[disabled],
.btn-view:focus:disabled,
.btn-view:focus button[disabled],
.btn-view:active:disabled,
.btn-view:active button[disabled],
.btn-view:active:focus:not(:disabled):not(.disabled):disabled,
.btn-view:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-edit,
.btn-edit:focus,
.btn-edit:active,
.btn-edit:active:focus:not(:disabled):not(.disabled) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #fff;
  background-color: #5244a0;
  border-color: #5244a0;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-edit:hover,
.btn-edit:focus:hover,
.btn-edit:active:hover,
.btn-edit:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  opacity: 0.8;
}
.btn-edit:disabled,
.btn-edit button[disabled],
.btn-edit:focus:disabled,
.btn-edit:focus button[disabled],
.btn-edit:active:disabled,
.btn-edit:active button[disabled],
.btn-edit:active:focus:not(:disabled):not(.disabled):disabled,
.btn-edit:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-delete,
.btn-delete:focus,
.btn-delete:active,
.btn-delete:active:focus:not(:disabled):not(.disabled) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #fff;
  background-color: #e12d3a;
  border-color: #e12d3a;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-delete:hover,
.btn-delete:focus:hover,
.btn-delete:active:hover,
.btn-delete:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  opacity: 0.8;
}
.btn-delete:disabled,
.btn-delete button[disabled],
.btn-delete:focus:disabled,
.btn-delete:focus button[disabled],
.btn-delete:active:disabled,
.btn-delete:active button[disabled],
.btn-delete:active:focus:not(:disabled):not(.disabled):disabled,
.btn-delete:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-refresh,
.btn-refresh:focus,
.btn-refresh:active,
.btn-refresh:active:focus:not(:disabled):not(.disabled) {
  color: #000;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.125);
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-refresh.add-customer,
.btn-refresh:focus.add-customer,
.btn-refresh:active.add-customer,
.btn-refresh:active:focus:not(:disabled):not(.disabled).add-customer {
  padding: 5px 20px;
}
.btn-refresh:hover,
.btn-refresh:focus:hover,
.btn-refresh:active:hover,
.btn-refresh:active:focus:not(:disabled):not(.disabled):hover {
  color: #000;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.125);
}
.btn-refresh:disabled,
.btn-refresh button[disabled],
.btn-refresh:focus:disabled,
.btn-refresh:focus button[disabled],
.btn-refresh:active:disabled,
.btn-refresh:active button[disabled],
.btn-refresh:active:focus:not(:disabled):not(.disabled):disabled,
.btn-refresh:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-contact-whatsapp,
.btn-contact-whatsapp:focus,
.btn-contact-whatsapp:active,
.btn-contact-whatsapp:active:focus:not(:disabled):not(.disabled) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4dc247;
  background-color: transparent;
  border: 2px solid #4dc247;
  height: 70px;
  border-radius: 10px;
  transition: 0.5s ease;
  font-weight: 600;
  transition: 0.5s ease;
  font-size: 17px;
}
.btn-contact-whatsapp svg,
.btn-contact-whatsapp:focus svg,
.btn-contact-whatsapp:active svg,
.btn-contact-whatsapp:active:focus:not(:disabled):not(.disabled) svg {
  width: 20px;
  margin-right: 10px;
}
.btn-contact-whatsapp:hover,
.btn-contact-whatsapp:focus:hover,
.btn-contact-whatsapp:active:hover,
.btn-contact-whatsapp:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background-color: #4dc247;
  border: 2px solid #4dc247;
}
.btn-contact-whatsapp:disabled,
.btn-contact-whatsapp button[disabled],
.btn-contact-whatsapp:focus:disabled,
.btn-contact-whatsapp:focus button[disabled],
.btn-contact-whatsapp:active:disabled,
.btn-contact-whatsapp:active button[disabled],
.btn-contact-whatsapp:active:focus:not(:disabled):not(.disabled):disabled,
.btn-contact-whatsapp:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.container-loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: #fff;
}
.container-loading img,
.container-loading svg {
  animation: logo ease-in-out 3s infinite;
}
.container-loading img.logo,
.container-loading svg.logo {
  width: 300px;
  height: 300px;
}
.container-loading img.icon,
.container-loading svg.icon {
  width: 200px;
  height: 200px;
}
.container-loading span {
  animation: logo-text 2s ease infinite;
  font-size: 70px;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@keyframes logo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes logo-text {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.footer-main {
  background-color: #fff;
  padding: 0 2rem;
}
.footer-main ul li a {
  color: rgba(20, 26, 29, 0.6);
  font-weight: 600;
  transition: 0.5s ease;
  text-decoration: none;
}
.footer-main ul li a:hover, .footer-main ul li a:focus, .footer-main ul li a:active, .footer-main ul li a:active:focus:not(:disabled):not(.disabled) {
  color: #000;
}
.footer-main .footer-utility .logo img,
.footer-main .footer-utility .logo svg {
  display: inline;
  max-width: 100%;
  width: 150px;
  margin-left: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-main .footer-divider {
  position: absolute;
  right: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.footer-main .copyright {
  font-weight: bold;
  color: rgba(20, 26, 29, 0.6);
}