.search {
  border-radius: 10rem;
  padding: 2rem 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;

  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  padding: 0.5rem 0.5rem 0.5rem 20px;
  background-color: #fff;

  .search-brands,
  .search-models {
    flex: 1;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    display: flex;
    align-items: center;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    .options {
      display: flex;
      flex-direction: column;
      flex: 1;

      .title-box {
        display: flex;
        align-items: center;

        .title {
          font-size: 13px;
          text-transform: uppercase;
          color: #939ba2;
        }

        svg {
          margin-left: 6px;
        }
      }

      .item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 6px;

        span {
          font-weight: 600;
          color: #939ba2;
        }

        &.selected {
          color: #000;
        }
      }
    }
  }

  .search-brands {
    border-right: 2px solid #d7dce0;
    height: 100%;
  }

  .btn-explore-now {
    height: 70px;
    width: 20%;
    background-color: #7618f3;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding: 0.5rem 1rem;
    transition: 0.5s ease;

    &:hover {
      opacity: 0.9;
    }

    &:disabled,
    button[disabled] {
      cursor: not-allowed;
      opacity: 0.8;
    }
  }
}

.card-car {
  border: none;

  .card-header,
  .card-body,
  .card-footer {
    border: none;
    background-color: #fff;
  }

  .car-image {
    position: relative;
    padding: 10px;

    img {
      width: 100%;
      height: 200px; /* Defina a altura desejada aqui */
      object-fit: cover;
      border-radius: 8px;
      -webkit-user-drag: none;
    }

    .new {
      position: absolute;
      top: 20px;
      right: 20px;

      background-color: #fff;
      padding: 0.6428571429em 0.9285714286em;
      color: #080a0d;
      background-color: #dcae64;

      padding: 0.6em;
      font-size: 0.6rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      border-radius: 7px;
    }
  }
}

.card-settings {
  .card-body {
    display: flex;
    flex-direction: column;

    .menu {
      display: flex;
      align-items: center;

      .link {
        display: flex;
        gap: 8px;
        font-weight: bold;
        font-size: 15px;
        color: #939ba2;
        transition: 0.5s ease;

        &.active {
          color: #000;
        }
      }
    }
  }
}

.card-brands,
.card-models,
.card-cars,
.card-groups,
.card-users {
  .card-header,
  .card-footer {
    border: none;
  }

  .car-images {
    max-width: 100%;
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-bottom: 2px solid #d0d7de;
  }

  .brand-logo {
    max-width: 100%;
    height: 170px;
    object-fit: contain;
    padding: 20px;
    border-bottom: 2px solid #d0d7de;
  }
}

.card-buy-car {
  .card-body {
    .car-image {
      img,
      svg {
        max-width: 100%;
        width: 1000px;
        object-fit: contain;
        border-radius: 8px;
      }
    }

    .brand_logo {
      padding: 10px 10px;
      border-radius: 8px;
      border: 2px solid #eee;

      img {
        height: 30px;
      }
    }

    .car_id {
      padding: 8px 10px;
      border-radius: 8px;
      background-color: #f5f6f7;
      color: #979aa2;
      font-size: 11px;
    }
  }
}
