.footer-main {
  background-color: #fff;
  padding: 0 2rem;

  ul {
    li {
      a {
        color: rgba(20, 26, 29, 0.6);
        font-weight: 600;
        transition: .5s ease;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active,
        &:active:focus:not(:disabled):not(.disabled) {
          color: #000;
        }
      }
    }
  }

  .footer-utility {
    .logo {
      img,
      svg {
        display: inline;
        max-width: 100%;
        width: 150px;
        margin-left: 20px;
        object-fit: cover;
      }
    }
  }

  .footer-divider {
    position: absolute;
    right: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .copyright {
    font-weight: bold;
    color: rgba(20, 26, 29, 0.6);
  }
}
