input,
textarea {
  &:disabled,
  &[readonly] {
    opacity: 0.3;
    background-color: #e9ecef;
  }
}

input,
textarea {
  &.form-control {
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s ease;
  }
}

input {
  &.form-control {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-color: #fff;
    color: #637089;
    border: 2px solid #e9ebef;
    border-radius: 10px;
    border-radius: 5px;

    &:focus {
      background-color: #fff;
      color: #637089;
      border: 2px solid #bec1c6;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    &::placeholder {
      color: #bcc0c5;
      font-size: 0.9rem;
    }
  }
}

textarea {
  &.form-control {
    width: 100%;
    font-family: inherit;
    background-color: #ffffff;
    border: 2px solid #e9ebef;
    color: #8f99ac;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;

    &:focus {
      background-color: #fff;
      color: #637089;
      border: 2px solid #bec1c6;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    &::placeholder {
      color: #bcc0c5;
      font-size: 0.9rem;
    }
  }
}

select {
  &.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-color: #fff;
    color: #637089;
    border: 2px solid #e9ebef;
    border-radius: 10px;
    border-radius: 5px;

    &:focus {
      background-color: #fff;
      color: #637089;
      border: 2px solid #bec1c6;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
