.sidebar {
  background-color: #fff;
  border-right: 1px solid #d0d7de;
  height: 100%;
  max-width: 300px;
  width: 280px;
  overflow-x: hidden;

  position: sticky;
  top: 0;
  height: 100vh;

  .logo {
    max-width: 100%;
    width: 160px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .list-items {
    list-style: none;
    margin: 20px 0 20px 0;
    overflow-y: auto;
    max-height: 100%;

    .group {
      .label {
        font-weight: bold;
        text-transform: uppercase;
        color: #aab1b8;
        font-size: 0.8rem;

        margin: 10px 0;
        padding: 10px;
        padding-left: 20px;
      }
    }

    .item {
      .link {
        display: flex;
        align-items: center;
        color: rgb(111, 135, 155);
        font-weight: 500;
        margin: 10px 0;
        padding: 10px;
        padding-left: 20px;
        font-weight: 500;

        &:first-child {
          margin-top: 0;
        }

        &:not(:last-child) {
          margin-bottom: 0;
        }

        svg {
          margin-right: 10px;
        }

        &.active {
          width: 100%;
          color: #000;
          text-decoration: none;
          background-color: rgb(119, 113, 246, 0.1);
        }
      }
    }
  }
}
