.card {
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.375rem;
}

.card-car {
  border: none;

  .card-header,
  .card-body,
  .card-footer {
    border: none;
    background-color: #fff;
  }

  .card-header {
    .car-favorite {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 7px;
      background-color: #fdeaea;
      color: #fe9897;
      font-size: 17px;
    }
  }

  .car-image {
    padding: 0 20px;

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 8px;

      -webkit-user-drag: none;
    }
  }
}

.card-filter {
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .filter-group .card-header {
    border-bottom: 0;
  }

  .icon-control {
    margin-top: 6px;
    float: right;
    font-size: 80%;
  }

  .list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .list-menu a {
    color: #343a40;
  }

  .checkbox-btn {
    position: relative;
  }

  .checkbox-btn input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox-btn input:checked ~ .btn {
    border-color: #3167eb;
    background-color: #3167eb;
    color: #fff;
  }

  .highlight-button:hover {
    background-color: #157af6;
    border: 2px solid #157af6;
    color: #fff;
  }

  .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
  }
}

.card-settings {
  .card-body {
    .card-title {
      text-align: left;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: -0.56px;
      color: #000;
      margin-top: 0;
      margin-bottom: 24px;
    }

    .input-editable {
      span {
        font-weight: bold;
        color: #939ba2;
      }

      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.card-options {
  border: none;

  .card-header {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: none;

    i {
      font-size: 1.25rem;
      margin-right: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      font-weight: bold;

      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .card-footer {
    background: #fff;
    border-top: none;
  }
}
