.login-form {
  .login,
  .image {
    min-height: 100vh;
  }

  .bg-image {
    background-size: cover;
    background-position: center center;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  }

  .box-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-title {
      font-size: 23px;
      font-weight: 700;
      color: #000;
      margin-bottom: 0;
      line-height: 0;

      &:hover,
      &:focus,
      &:active,
      &:active:focus:not(:disabled):not(.disabled) {
        color: #000;
      }
    }

    img,
    svg {
      display: inline;
      max-width: 100%;
      width: 230px;
      object-fit: cover;
    }
  }
}

.error-400,
.error-401,
.error-403,
.error-404,
.error-500 {
  margin-bottom: 120px;

  svg {
    width: 100%;
  }

  h1 {
    font-size: 7.5em;
    margin: 15px 0px;
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
  }
}

.marquee {
  margin-top: 13px;

  img,
  svg {
    max-width: 100%;
    width: 80px;
    margin-right: 60px;
    -webkit-user-drag: none;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;

    &:hover {
      filter: none;
      opacity: 1;
    }
  }
}

.jumbotron-main {
  max-width: 100%;
  width: 100%;

  img,
  svg {
    max-width: 100%;
    height: 475px;
    object-fit: cover;

    -webkit-user-drag: none;
  }
}

.services {
  text-align: center;

  .title {
    font-weight: bold;
  }

  .services {
    .service-title {
      color: #000;
      text-decoration: none;
    }

    .service-description {
      font-size: 14px;
    }

    .service-icon {
      i {
        margin-bottom: 10px;
        font-size: 64px;
        color: #f48a00;
      }
    }
  }
}

.empty-car {
  span,
  small {
    display: block;
  }

  .empty-image {
    display: flex;
    align-items: center;
    justify-content: center;

    img,
    svg {
      max-width: 100%;
      width: 50%;
      height: 50%;
    }
  }

  .empty-title {
    font-weight: bold;
    font-size: 20px;
  }

  .empty-description {
    font-weight: 500;
    line-height: 1.2;
  }
}

.box-search {
  height: 600px;
  width: 100%;

  .row {
    height: 100%;

    .search {
      margin-top: 60px;

      .title {
        font-weight: 700;
        font-size: 40px;
        line-height: 123.5%;
        letter-spacing: -1.5px;
      }

      .description {
        margin: 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 133.4%;
        letter-spacing: 0px;
        color: rgba(20, 26, 29, 0.6);
      }
    }
  }
}

.contact {
  margin: 4.8rem 0;

  .contact-info {
    margin-bottom: 20px;

    i {
      margin-right: 10px;
    }
  }
}
